/* Color Theme Swatches in Hex */
.You-Move-Me-1-hex { color: #000000; }
.You-Move-Me-2-hex { color: #FFFFFF; }
.You-Move-Me-3-hex { color: #A6CE39; }
.You-Move-Me-4-hex { color: #6A6A6A; }
.You-Move-Me-5-hex { color: #E2E3E4; }
#q {color: #F7F7F7;}
#r {color: #0D0D0D;}
#s {color: #787878;}
#t {color: #D6D6D6;}
#u {color: #738F28;}
#v {color: #5B701F;}
#w {color: #B1DB3D;}
#x {color: #596E1F;}
#y {color: #C8E183;}

html {
  background-image: url("images/background2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  max-width: 475px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #0D0D0D;
}

a {
  color: #738F28;
}

section {
  /* border:2px solid #D6D6D6;
  border-radius: 5px; */
  background-color: transparent;
  vertical-align: top;
  padding: 0px;
  margin-bottom: 10px;
  position: relative;
  /* box-shadow: 0px 5px 30px 0px #787878; */
}

header {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  margin: 1px;
}

#header {
  /* position: sticky; */
  top:0px;
  background-color: white;
  z-index: 1;
}

.sectionHead {
  background-color: #D6D6D6;
  /* border-top-left-radius: 3px;
  border-top-right-radius: 3px; */
  padding: 0 0 3px 5px;
  font-size: larger;
  font-weight: bold;
}

#intro {
  background-color: #F7F7F7;
}

#topCities {
  /* position: sticky; */
  /* top: 19px; */
  z-index: 1;
  /* margin-bottom: 15px; */
  /* background-color: white; */
}

/* #city {
  position: sticky;
  top: 200px;
  z-index: 1;
} */

#rankings {
  display: inline-block;
  width: 100%;
}

#rank10 { 
  float:left;  
  background-color: #C8E183; 
  width:33%; 
  height:auto;
} 

#rank20 { 
  float:left;  
  background-color: rgb(217, 236, 164);
  width:34%; 
  height:auto; 
} 

#rank30 { 
  float:right;
  background-color: rgb(236, 248, 203);;
  width:33%; 
  height:auto; 
} 

.metric {
  border-bottom: 1px solid #D6D6D6;
  /* display: none; */
}

.metricHead {
  font-size: large;
}

.expand {
  border: 2px solid rgb(184, 214, 102);
  background-color: rgb(242, 255, 207);
  border-radius: 100%;
  padding: 0 3px 0 4px;
  color: rgb(184, 214, 102);
  font-weight: 700;
  font-size: small;
  text-decoration: none;
  cursor: pointer;
}

.name {
  padding-left: 5px;
}

#profileTop {
  /* position: relative; */
  background-color: #F7F7F7;
}

/* #city {
  position: relative;
  display: inline-block;
  float: left;
  width: 50%;
}

#state {
  position: relative;
  display: inline-block;
  float: right;
  width: 50%;
} */

/* #cityPop {
  position: relative;
  display: inline-block;
  float: left;
  width: 33%;
}

#metroPop {
  position: relative;
  display: inline-block;
  float: right;
  width: 33%;
} */

/* All the contents of the metric top container */
.metricHead {
  background-color: #E2E3E4;
  padding: 2px 3px 5px 3px;
}

.metricContent {
  padding: 0 3px 3px 3px;
  background-color: #F7F7F7;
}

.metricContent .description {
  display: block;
  background-color: #FFFFFF;
}

.top10 {
  border: 2px solid rgb(184, 214, 102);
  border-radius: 100%;
  color: rgb(184, 214, 102);
  background-color: rgb(242, 255, 207);
  padding: 0 4px 0 4px;
  margin: 0 0 0 3px;
  font-weight: 700;
  font-size: small;
  float: right;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.popUpTitle {
  text-align: center;
  background-color: rgb(184, 214, 102);;
  padding: 0 2px 0 2px;
}

input[type=number]{
  width: 40px;
  border-color: rgb(184, 214, 102);
  border-style: solid;
}

.weight {
  position: relative;
  display: inline-block;
  float: right;
  height: 100%;
  width: 100%;
  margin-right: 2px;
}

/* All the contents of the metric bottom container */
.score {
  float: right;
  margin-right: 3px;
}

.scoreLabel, .rank {
  float: right;
}

.top10 .top10List {
  visibility: hidden;
  width: 120px;
  background-color: rgb(242, 255, 207);
  color: #738F28;
  text-align: left;
  padding: 0px 0px 2px 0px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  list-style: none;
  border: 2px solid rgb(184, 214, 102);;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.top10 .top10List::after {
  /* content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: steelblue transparent transparent transparent; */
}

.top10:hover .top10List {
  visibility: visible;
  opacity: 1;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  float: right;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(242, 255, 207);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  border: 1px solid rgb(184, 214, 102);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(184, 214, 102);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(184, 214, 102);
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
/* .slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 40%;
} */

.dropdown {
  position: relative;
  display: inline-block;
}

/* #weather > div#sunshine,
#weather > div#precip {
  display: none;
  transition: height .5s;
  height: 0;
  overflow: hidden;
} */