body {
  max-width: 475px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFDF7;
}

section {
  border:2px solid #B7D8E8;
  border-radius: 5px;
  background-color: transparent;
  vertical-align: top;
  padding: 0px;
  margin-bottom: 10px;
  position: relative;
}

header {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  margin: 1px;
}

.sectionHead {
  background-color: #C9EDFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 0 0 3px 5px;
  font-size: larger;
  font-weight: bold;
}

#intro {
  background-color: mediumaquamarine;
}

#rankings {
  display: inline-block;
  width: 100%;
}

#rank10 { 
  float:left;  
  background-color: khaki; 
  width:33%; 
  height:auto;
} 
#rank20 { 
  float:left;  
  background-color: pink;
  width:34%; 
  height:auto; 
} 
#rank30 { 
  float:right; 
  background-color: khaki; 
  width:33%; 
  height:auto; 
} 

.metric {
  border-bottom: 1px solid #B7D8E8;
  /* display: none; */
}

.metricHead {
  font-size: large;
}

.expand {
  border: 2px solid steelblue;
  background-color: lightcyan;
  border-radius: 100%;
  padding: 0 3px 0 4px;
  color: steelblue;
  font-weight: 700;
  font-size: small;
  text-decoration: none;
  cursor: pointer;
}

/* All the contents of the metric top container */
.top {
  background-color: mistyrose;
  padding: 2px 3px 5px 3px;
}

.mid {
  padding: 0 3px 0 3px;
  background-color: beige;
}

.bottom {
  padding: 0 3px 3px 3px;
  background-color: navajowhite;
}

.top10 {
  border: 2px solid #B7D8E8;
  border-radius: 100%;
  color: #B7D8E8;
  background-color: lightcyan;
  padding: 0 4px 0 4px;
  margin: 0 0 0 3px;
  font-weight: 700;
  font-size: small;
  float: right;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

input[type=number]{
  width: 40px;
  border-color: #B7D8E8;
  border-style: solid;
}

.weight {
  position: relative;
  display: inline-block;
  float: right;
  height: 100%;
  width: 100%;
  margin-right: 2px;
}

/* All the contents of the metric bottom container */
.score {
  float: right;
  margin-right: 3px;
}

.scoreLabel, .rank {
  float: right;
}

.top10 .top10List {
  visibility: hidden;
  width: 120px;
  background-color: steelblue;
  color: #fff;
  text-align: left;
  padding: 5px 2px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  /* bottom: 125%; */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.top10 .top10List::after {
  /* content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: steelblue transparent transparent transparent; */
}

.top10:hover .top10List {
  visibility: visible;
  opacity: 1;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  float: right;
  width: 50px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: pink;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #B7D8E8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #B7D8E8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 40%;
}